# Import Library

In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('train.csv')
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [13]:
df.drop('Row ID',axis=1,inplace=True)  #Dropping the Row ID column

# Định Dạng Kiểu Dữ Liệu Ngày Tháng

In [15]:
df['Order Date']=pd.to_datetime(df['Order Date'], format='%d/%m/%Y') #convert Order dates to pandas datetime format
df['Ship Date']=pd.to_datetime(df['Ship Date'], format='%d/%m/%Y') #convert Ship Date to pandas datetime format
df

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,CA-2017-125920,2017-05-21,2017-05-28,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

In [16]:
#Checking NULL values
df.isnull().sum()

Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
dtype: int64

# Điền postal code cho thành phố bị thiếu

In [18]:
df.loc[df['City'] == 'Burlington', 'Postal Code'] = df.loc[df['City'] == 'Burlington', 'Postal Code'].fillna(5401)
df.isnull().sum()

Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
dtype: int64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9800 non-null   object
 1   Order Date     9800 non-null   datetime64[ns]
 2   Ship Date      9800 non-null   datetime64[ns]
 3   Ship Mode      9800 non-null   object
 4   Customer ID    9800 non-null   object
 5   Customer Name  9800 non-null   object
 6   Segment        9800 non-null   object
 7   Country        9800 non-null   object
 8   City           9800 non-null   object
 9   State          9800 non-null   object
 10  Postal Code    9800 non-null   float64
 11  Region         9800 non-null   object
 12  Product ID     9800 non-null   object
 13  Category       9800 non-null   object
 14  Sub-Category   9800 non-null   object
 15  Product Name   9800 non-null   object
 16  Sales          9800 non-null   float64
dtypes: datetime64[ns](2), float64(2), object(13)
memory usage: 1.3+ MB

 # Đổi tên một số cột

In [21]:
df.rename(columns={'Order ID':'Order_ID'},inplace=True)
df.rename(columns={'Postal Code':'Postal_Code'},inplace=True)
df.rename(columns={'Order Date':'Order_Date'},inplace=True)
df.rename(columns={'Ship Date':'Ship_Date'},inplace=True)
df.rename(columns={'Ship Mode':'Ship_Mode'},inplace=True)
df.rename(columns={'Customer ID':'Customer_ID'},inplace=True)
df.rename(columns={'Customer Name':'Customer_Name'},inplace=True)
df.rename(columns={'Product ID':'Product_ID'},inplace=True)
df.rename(columns={'Product Name':'Product_Name'},inplace=True)
df.rename(columns={'Sub-Category':'Sub_Category'},inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order_ID       9800 non-null   object
 1   Order_Date     9800 non-null   datetime64[ns]
 2   Ship_Date      9800 non-null   datetime64[ns]
 3   Ship_Mode      9800 non-null   object
 4   Customer_ID    9800 non-null   object
 5   Customer_Name  9800 non-null   object
 6   Segment        9800 non-null   object
 7   Country        9800 non-null   object
 8   City           9800 non-null   object
 9   State          9800 non-null   object
 10  Postal_Code    9800 non-null   float64
 11  Region         9800 non-null   object
 12  Product_ID     9800 non-null   object
 13  Category       9800 non-null   object
 14  Sub_Category   9800 non-null   object
 15  Product_Name   9800 non-null   object
 16  Sales          9800 non-null   float64
dtypes: datetime64[ns](2), float64(2), object(13)
memory usage: 1.3+ MB

In [22]:
df.head()

,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

# Loại bỏ khoảng trắng

In [24]:
# Remove whitespace in all the dataframe columns
df.columns = df.columns.str.strip()
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

# Loại bỏ kí tự ';' ở các cột object type

In [26]:
df.columns = df.columns.str.strip()
df = df.apply(lambda x: x.str.replace(';','') if x.dtype == "object" else x)

# Chuyển toàn bộ dữ liệu cột Sales về 1 form nhất định

In [28]:
def validate_sales_value(value):
    """
    Validate giá trị Sales và đưa về phạm vi hợp lý
    """
    # Ngưỡng min/max có thể điều chỉnh theo yêu cầu
    MIN_VALID = 0.0
    MAX_VALID = 1000000.0  # 1 triệu
    
    try:
        val = float(value)
        if pd.isna(val):
            return np.nan
            
        # Kiểm tra phạm vi hợp lệ
        if val < MIN_VALID or val > MAX_VALID:
            return np.nan  # hoặc giá trị mặc định
            
        return round(val, 2)  # Làm tròn 2 chữ số thập phân
    except (ValueError, TypeError):
        return np.nan

# Áp dụng hàm validate
df['Sales'] = df['Sales'].apply(validate_sales_value)

# Loại Bỏ Các Cột Không Cần Thiết

In [30]:
df.drop(columns=['Ship_Date','Postal_Code'],axis=1,inplace=True)  #Dropping the Row ID column
df.head()

,Order_ID,Order_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,CA-2017-152156,2017-11-08,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96
1,CA-2017-152156,2017-11-08,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94
2,CA-2017-138688,2017-06-12,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62
3,US-2016-108966,2016-10-11,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.58
4,US-2016-108966,2016-10-11,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.37

In [31]:
# Kiểm tra độ dài các kí tự của Product_Name
row_with_max_text = df.loc[ df.Product_Name.str.len().idxmax() ]
row_with_max_text

Order_ID                                            CA-2018-127026
Order_Date                                     2018-01-21 00:00:00
Ship_Mode                                           Standard Class
Customer_ID                                               MH-18115
Customer_Name                                       Mick Hernandez
Segment                                                Home Office
Country                                              United States
City                                                       Jackson
State                                                     Michigan
Region                                                     Central
Product_ID                                         TEC-PH-10003601
Category                                                Technology
Sub_Category                                                Phones
Product_Name     Ativa D5772 2-Line 5.8GHz Digital Expandable C...
Sales                                                       164.99
Name: 2683, dtype: object

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order_ID       9800 non-null   object
 1   Order_Date     9800 non-null   datetime64[ns]
 2   Ship_Mode      9800 non-null   object
 3   Customer_ID    9800 non-null   object
 4   Customer_Name  9800 non-null   object
 5   Segment        9800 non-null   object
 6   Country        9800 non-null   object
 7   City           9800 non-null   object
 8   State          9800 non-null   object
 9   Region         9800 non-null   object
 10  Product_ID     9800 non-null   object
 11  Category       9800 non-null   object
 12  Sub_Category   9800 non-null   object
 13  Product_Name   9800 non-null   object
 14  Sales          9800 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(13)
memory usage: 1.1+ MB

In [55]:
df.to_csv('cleaned_super_store_data.csv', index=False, float_format='%.2f', sep=';')
df.to_excel('cleaned_super_store_data.xlsx', index=False)